scénario1.json
{
    "name": "questions cours pierre V2",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:listResponses",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1240642
            },
            "mapper": {
                "limit": "100",
                "formId": "1MHrWkj6hJXSSFc5Q4REt5ERdNKPRmuj-xYpLFKbaw8c"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pierre.aumont@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "since",
                        "type": "date",
                        "label": "Since"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "4b47d61a",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "posez votre question"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-docs:appendADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1240642
            },
            "filter": {
                "name": "si questionnaire non vide",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "{{1.lastSubmittedTime}}{{newline}}{{1.answers.`4b47d61a`.textAnswers.answers[].value}}{{newline}}\n",
                "choose": "dropdown",
                "select": "document",
                "document": "/1H0qc1VMKa93XEgou6Hu5LIYoKBdk0-IfCmH7D9itRRs",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "choose": {
                            "label": "By Dropdown"
                        },
                        "select": {
                            "label": "By appending to the body of document"
                        },
                        "document": {
                            "path": [
                                "questions cours pierre archives 2"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pierre.aumont@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "choose",
                        "type": "select",
                        "label": "Select a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mapping",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Insert a Paragraph",
                        "required": true,
                        "validate": {
                            "enum": [
                                "location",
                                "document",
                                "segment"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Appended Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-docs:createADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1240642
                            },
                            "filter": {
                                "name": "si premiere reponse du forms",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`__IMTINDEX__`}}",
                                            "b": "1",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "question cours pierre temp",
                                "footer": false,
                                "header": false,
                                "content": "{{1.createTime}}",
                                "folderId": "/",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "/"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (pierre.aumont@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "header",
                                        "type": "boolean",
                                        "label": "Insert a Header",
                                        "required": true
                                    },
                                    {
                                        "name": "footer",
                                        "type": "boolean",
                                        "label": "Insert a Footer",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 22,
                            "module": "google-docs:appendADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1240642
                            },
                            "mapper": {
                                "text": "retour étudiant N°{{1.`__IMTINDEX__`}}{{newline}}{{1.answers.`4b47d61a`.textAnswers.answers[].value}}{{newline}}",
                                "choose": "mapping",
                                "select": "document",
                                "document": "{{9.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1230,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "choose": {
                                            "label": "By Mapping"
                                        },
                                        "select": {
                                            "label": "By appending to the body of document"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (pierre.aumont@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "choose",
                                        "type": "select",
                                        "label": "Select a Document",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "mapping",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "text",
                                        "label": "Document ID",
                                        "required": true
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Insert a Paragraph",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "location",
                                                "document",
                                                "segment"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Appended Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "gdocidtmppierre",
                                "scope": "roundtrip",
                                "value": "{{9.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1530,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "gdocidtmppierre",
                                        "type": "any",
                                        "label": "gdocidtmppierre"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 20,
                            "module": "make:runScenarioWithInputs",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1854887
                            },
                            "filter": {
                                "name": "si une seule réponse dans le forms",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": {
                                    "googledocIDtemppierre": "{{17.gdocidtmppierre}}"
                                },
                                "scenario": "2815609"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1834,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "make"
                                            },
                                            "label": "My Make connection (pierre.aumont@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:make",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "scenario",
                                        "type": "text",
                                        "label": "Scenario ID",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "googledocIDtemppierre",
                                                "type": "text",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "util:GetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "si à partir 2e reponse du forms",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`__IMTINDEX__`}}",
                                            "b": "1",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "gdocidtmppierre"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "gdocidtmppierre",
                                        "type": "any",
                                        "label": "gdocidtmppierre"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-docs:appendADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1240642
                            },
                            "mapper": {
                                "text": "retour étudiant N°{{1.`__IMTINDEX__`}}{{newline}}{{1.answers.`4b47d61a`.textAnswers.answers[].value}}{{newline}}",
                                "choose": "mapping",
                                "select": "document",
                                "document": "{{18.gdocidtmppierre}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "choose": {
                                            "label": "By Mapping"
                                        },
                                        "select": {
                                            "label": "By appending to the body of document"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (pierre.aumont@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "choose",
                                        "type": "select",
                                        "label": "Select a Document",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "mapping",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "text",
                                        "label": "Document ID",
                                        "required": true
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Insert a Paragraph",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "location",
                                                "document",
                                                "segment"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Appended Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "make:runScenarioWithInputs",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 1854887
                            },
                            "filter": {
                                "name": "lancer scénario si recupération finie",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.`__IMTINDEX__`}}",
                                            "b": "{{1.`__IMTLENGTH__`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": {
                                    "googledocIDtemppierre": "{{18.gdocidtmppierre}}"
                                },
                                "scenario": "2815609"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1582,
                                    "y": 293
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "make"
                                            },
                                            "label": "My Make connection (pierre.aumont@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:make",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "scenario",
                                        "type": "text",
                                        "label": "Scenario ID",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "googledocIDtemppierre",
                                                "type": "text",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}